<button class="fields one" onclick="playOne()">
    <img src="../assets/pictures/01_small.png"/>
</button>

<script>
var song01 = new Audio("../assets/audio/01.mp3");
function playOne() {
    var date = new Date();
    if (date.getDate() >= 1) {
        if (song01.currentTime > 0) {
            song01.load();
        } else {
            song01.play();
        }
    } else {
        console.log("Can't play this!");
    }
}
</script>