<button class="fields four" onclick="playFour()">
    <img src="../assets/pictures/04_small.png"/>
</button>

<script>
var song04 = new Audio("../assets/audio/04.mp3");
function playFour() {
    var date = new Date();
    if (date.getDate() >= 4) {
        if (song04.currentTime > 0) {
            song04.load();
        } else {
            song04.play();
        }
    } else {
        console.log("Can't play this!");
    }
}
</script>