<button class="fields seven" onclick="playseven()">
    <img src="../assets/pictures/07_small.png"/>
</button>

<script>
var song07 = new Audio("../assets/audio/07.mp3");
function playseven() {
    var date = new Date();
    if (date.getDate() >= 7) {
        if (song07.currentTime > 0) {
            song07.load();
        } else {
            song07.play();
        }
    } else {
        console.log("Can't play this!");
    }
}
</script>