<button class="fields eight" onclick="playeight()">
    <img src="../assets/pictures/08_small.png"/>
</button>

<script>
var song08 = new Audio("../assets/audio/08.mp3");
function playeight() {
    var date = new Date();
    if (date.getDate() >= 8) {
        if (song08.currentTime > 0) {
            song08.load();
        } else {
            song08.play();
        }
    } else {
        console.log("Can't play this!");
    }
}
</script>