<button class="fields ten" onclick="playten()">
    <img src="../assets/pictures/10_small.png"/>
</button>

<script>
var song10 = new Audio("../assets/audio/10.mp3");
function playten() {
    var date = new Date();
    if (date.getDate() >= 10) {
        if (song10.currentTime > 0) {
            song10.load();
        } else {
            song10.play();
        }
    } else {
        console.log("Can't play this!");
    }
}
</script>