<button class="fields eleven" onclick="playeleven()">
    <img src="./assets/pictures/11_small.png"/>
</button>


<div class="audio presenter" id="id_11">
    <h1>Silent Night</h1>
    <audio controls id="song11">
        <source src="./assets/audio/11.mp3" type="audio/mpeg">
    </audio>
    <button onclick="close11()">&#10005</button>
</div>

<script>
var id_11 =document.getElementById("id_11");
id_11.style.display = "none";
var song11 = document.getElementById("song11");
function playeleven() {
    var date = new Date();
    if (date.getDate() >= 11) {
        id_11.style.display = "flex";
        if (song11.currentTime > 0) {
            close11();
        } else {
            song11.play();
            close01();
            close02();
            close03();
            close04();
            close05();
            close06();
            close07();
            close08();
            close09();
            close10();
            close12();
            close13();
            close14();
            close15();
            close16();
            close17();
            close18();
            close19();
            close20();
            close21();
            close22();
            close23();
            close24();
        }
    } else {
        console.log("Can't play this!");
    }
}
function close11() {
    id_11.style.display = "none";
    song11.load();
}
</script>