<button class="fields eleven" onclick="playeleven()">
    <img src="./assets/pictures/11_small.png"/>
</button>

<script>
var song11 = new Audio("./assets/audio/11.mp3");
function playeleven() {
    var date = new Date();
    if (date.getDate() >= 11) {
        if (song11.currentTime > 0) {
            song11.load();
        } else {
            song11.play();
        }
    } else {
        console.log("Can't play this!");
    }
}
</script>