<button class="fields thirteen" onclick="playthirteen()">
    <img src="./assets/pictures/13_small.png"/>
</button>


<div class="audio presenter" id="id_13">
    <h1>Princess Ivo - Books of Unwritten Tales</h1>
    <audio controls id="song13">
        <source src="./assets/audio/13.mp3" type="audio/mpeg">
    </audio>
    <button onclick="close13()">&#10005</button>
</div>

<script>
var id_13 =document.getElementById("id_13");
id_13.style.display = "none";
var song13 = document.getElementById("song13");
function playthirteen() {
    var date = new Date();
    if (date.getDate() >= 13) {
        id_13.style.display = "flex";
        if (song13.currentTime > 0) {
            close13();
        } else {
            song13.play();
            close01();
            close02();
            close03();
            close04();
            close05();
            close06();
            close07();
            close08();
            close09();
            close10();
            close11();
            close12();
            close14();
            close15();
            close16();
            close17();
            close18();
            close19();
            close20();
            close21();
            close22();
            close23();
            close24();
        }
    } else {
        console.log("Can't play this!");
    }
}
function close13() {
    id_13.style.display = "none";
    song13.load();
}
</script>