<button class="fields twenty" onclick="playtwenty()">
    <img src="./assets/pictures/20_small.png"/>
</button>


<div class="audio presenter" id="id_20">
    <h1>Carol of the Bells</h1>
    <audio controls id="song20">
        <source src="./assets/audio/20.mp3" type="audio/mpeg">
    </audio>
    <button onclick="close20()">&#10005</button>
</div>

<script>
var id_20 =document.getElementById("id_20");
id_20.style.display = "none";
var song20 = document.getElementById("song20");
function playtwenty() {
    var date = new Date();
    if (date.getDate() >= 20) {
        id_20.style.display = "flex";
        if (song20.currentTime > 0) {
            close20();
        } else {
            song20.play();
            close01();
            close02();
            close03();
            close04();
            close05();
            close06();
            close07();
            close08();
            close09();
            close10();
            close11();
            close12();
            close13();
            close14();
            close15();
            close16();
            close17();
            close18();
            close19();
            close21();
            close22();
            close23();
            close24();
        }
    } else {
        console.log("Can't play this!");
    }
}
function close20() {
    id_20.style.display = "none";
    song20.load();
}
</script>