<button class="fields twentyone" onclick="playtwentyone()">
    <img src="./assets/pictures/21_small.png"/>
</button>

<script>
var song21 = new Audio("./assets/audio/21.mp3");
function playtwentyone() {
    var date = new Date();
    if (date.getDate() >= 21) {
        if (song21.currentTime > 0) {
            song21.load();
        } else {
            song21.play();
        }
    } else {
        console.log("Can't play this!");
    }
}
</script>