<button class="fields twentyone" onclick="playtwentyone()">
    <img src="./assets/pictures/21_small.png"/>
</button>


<div class="audio presenter" id="id_21">
    <h1>Lily's Theme</h1>
    <audio controls id="song21">
        <source src="./assets/audio/21.mp3" type="audio/mpeg">
    </audio>
    <button onclick="close21()">&#10005</button>
</div>

<script>
var id_21 =document.getElementById("id_21");
id_21.style.display = "none";
var song21 = document.getElementById("song21");
function playtwentyone() {
    var date = new Date();
    if (date.getDate() >= 21) {
        id_21.style.display = "flex";
        if (song21.currentTime > 0) {
            close21();
        } else {
            song21.play();
            close01();
            close02();
            close03();
            close04();
            close05();
            close06();
            close07();
            close08();
            close09();
            close10();
            close11();
            close12();
            close13();
            close14();
            close15();
            close16();
            close17();
            close18();
            close19();
            close20();
            close22();
            close23();
            close24();
        }
    } else {
        console.log("Can't play this!");
    }
}
function close21() {
    id_21.style.display = "none";
    song21.load();
}
</script>