<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ pageTitle }}</title>
        <link rel="stylesheet" href="/main.css">
    </head>
    <body class="{{ bodyClass }}">
        <h1>{{title}}</h1>
        <audio controls>
            <source src="/assets/01.mp3" type="audio/mpeg">
        </audio>
    </body>
</html>