<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ pageTitle }}</title>
        <link rel="stylesheet" href="main.css">
    </head>
    <body class="{{ bodyClass }}">
        <img
            class="background" 
            src="./assets/pictures/bcn.png"/>
        {%include '01.njk' %}
        {%include '02.njk' %}
        {%include '03.njk' %}
        {%include '04.njk' %}
        {%include '05.njk' %}
        {%include '06.njk' %}
        {%include '07.njk' %}
        {%include '08.njk' %}
        {%include '09.njk' %}
        {%include '10.njk' %}
        {%include '11.njk' %}
        {%include '12.njk' %}
        {%include '13.njk' %}
        {%include '14.njk' %}
        {%include '15.njk' %}
        {%include '16.njk' %}
        {%include '17.njk' %}
        {%include '18.njk' %}
        {%include '19.njk' %}
        {%include '20.njk' %}
        {%include '21.njk' %}
        {%include '22.njk' %}
        {%include '23.njk' %}
        {%include '24.njk' %}
    </body>
</html>